<%- layout('layout/template_view') %>
<script>const PAGE = 'PROFILE';</script>
<div class="w-75 offset-2 mt-5">
    <div class="card" style="width: 18rem">

        <div class="card-body">
            <h5 class="card-title"><%= user.firstname %> <%= user.surname %></h5>
            <p class="card-text"><%= user.bio %></p>
            <% if (currentUser.id == user.id) { %>
                <a href="<%= currentUser.username %>/edit-profile" class="btn btn-primary">Edit</a>
            <% } else { %>
                    <a href="#" data-username="<%= user.username %>" class="btn btn-warning <%= btn %>-btn"><%= btn %> </a>
                    <a href="" class="btn btn-warning">Message</a>
            <% } %> 
        </div>
    </div>

    <div class="actions-container w-50 offset-4 mt-5">
        
    </div>

</div>