<%- layout('layout/template_view') %>
<script>const PAGE = "EDIT PROFILE";</script>
<div class="w-100 offset-1 mt-5">
    <form
        class="row g-3 w-50 m-auto"
        novalidate
        method="POST"
        enctype="multipart/form-data"
        action="/<%= user.username %>/edit-profile?_method=PATCH"
    >
        <input type="hidden" name="year_of_birth" value="<%= user.extra_info.year_of_birth %>" >
        <input type="hidden" name="month_of_birth" value="<%= user.extra_info.month_of_birth %>">
        <input type="hidden" name="day_of_birth" value="<%= user.extra_info.day_of_birth %>">
        <input type="hidden" name="gender" value="<%= user.extra_info.gender %>">
        <div class="col-6">
            <label class="form-label">Firstname</label>
            <div class="input-group has-validation">
                <input
                    type="text"
                    class="form-control"
                    name="firstname"
                    value="<%= user.firstname %>"
                />
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Lastname</label>
            <div class="input-group has-validation">
                <input
                    type="text"
                    class="form-control"
                    name="surname"
                    value="<%= user.surname %>"
                />
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Username</label>
            <div class="input-group has-validation">
                <input
                    type="text"
                    class="form-control"
                    name="username"
                    value="<%= user.username %>"
                />
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Email</label>
            <div class="input-group has-validation">
                <input
                    type="email"
                    class="form-control"
                    name="email"
                    value="<%= user.email %>"
                />
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">Bio</label>
            <div class="input-group has-validation">
                <textarea type="text" class="form-control" name="bio" value="<%= user.extra_info.bio %>"></textarea>
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Phone</label>
            <div class="input-group has-validation">
                <input type="number" class="form-control" name="phone" value="<%= user.extra_info.phone %>"/>
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Website</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" name="website" value="<%= user.extra_info.website %>"/>
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Facebook</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" name="facebook" value="<%= user.extra_info.facebook %>"/>
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Instagram</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" name="instagram" value="<%= user.extra_info.instagram %>"/>
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Twitter</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" name="twitter" value="<%= user.extra_info.twitter %>"/>
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Linkedin</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" name="linkedin" value="<%= user.extra_info.linkedin %>"/>
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Tik Tok</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" name="tiktok" value="<%= user.extra_info.tiktok %>"/>
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Youtube</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" name="youtube" value="<%= user.extra_info.youtube %>"/>
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Github</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" name="github" value="<%= user.extra_info.github%>"/>
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Upwork</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" name="upwork" value="<%= user.extra_info.upwork %>"/>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-success w-100" type="submit">Save</button>
        </div>
    </form>
</div>
